<% include header.html %>
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        <li data-target="#carousel-example-generic" data-slide-to="3"></li>



    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active" >
            <img src="index/images/1.jpg" alt="..." >

        </div>

        <div class="item">
            <img src="index/images/3.jpg" alt="...">

        </div>
        <div class="item">
            <img src="index/images/4.jpg" alt="...">

        </div>
        <div class="item">
            <img src="index/images/6.jpg" alt="...">

        </div>

    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<!-- 列表 -->
<div class="container">
    <div class="row" style="width: 960px;margin:0 auto;">
        <div class="col-xs-4" style="float:right">
            <div class="list-group" style="width: 90%;margin:30px auto;">
                <a href="#" class="list-group-item active" style="background: #D84C29;border-color:#D84C29">
                    列表
                </a>
                <a href="#" class="list-group-item">闺蜜</a>
                <a href="#" class="list-group-item">时间</a>
                <a href="#" class="list-group-item">心情</a>
                <a href="#" class="list-group-item">推荐</a>
            </div>
        </div>
        <div class="col-xs-8" style="float: left;">
            <h1>热门推荐</h1>
            <ul class="media-list" style="box-sizing: border-box">
                <% for(var i=0;i<lists.length;i++){ %>

                <li class="media" style="width: auto">
                    <div class="media-left" style="width:500px;">
                        <a href="/show/<%= lists[i].aid %>" class="wirte">
                            <img class="media-object" src="<%= "index"+lists[i].thumb %>" alt="...">
                        </a>
                        <h4 class="media-heading hmf_h4" style="margin-left:50px;font-size: 16px;line-height: 40px;">
                            作者：<%= lists[i].nickname %>
                            栏目：<%= lists[i].cnname %>
                        </h4>
                    </div>
                    <div class="media-body">
                        <a href="/show/<%= lists[i].aid %>" class="media-heading" style="display:block;font-size:18px;width:400px;color: #D84C29;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;cursor: pointer"><%= lists[i].title %></a>
                        <p style="width:400px;">  <%- lists[i].content.slice(0,100) %>...</p>

                    </div>
                    <div class="media-middle media-right" >
                        <a href="#" class="thumb">
                            <img class="media-object" src="index/images/5.jpg" alt="...">
                        </a>
                    </div>
                </li>
                <% } %>
            </ul>

            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li>
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>

                    <li>
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

    </div>
</div>

<% include footer.html %>